.AboutBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ImageBox.scrolled {
    width: 100px;
    height: 100px;
}

.ImageBox {
    width: 300px;
    height: 300px;
    transition: width 0.5s, height 0.5s;

}

.ProfilePicture {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}